:root {
    --ion-color-primary: #7F39FB;
    --ion-color-primary-rgb: 127,57,251;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #7032dd;
    --ion-color-primary-tint: #8c4dfb;
}