<ion-header>
  <div class="center-content">
    <img src="../../assets/logo.png" alt="">
  </div>
  <div class="ion-text-center">
    <h2>Faça sua Reserva</h2>
  </div>
</ion-header>
<ion-content>
  <div>
    <h2>{{barbeiro.nome}}</h2>
    <h5>{{barbeiro.endereco}}</h5>
  </div>
  <div>
    <ion-item>
      <ion-label>Data</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" min="2021-03-14" max="2022-12-09" value="2021-03-23T15:03:46.789"></ion-datetime>
    </ion-item>
  </div>

</ion-content>

<ion-footer>

</ion-footer>
